
#screen
{
  width  : 100% ;
  height : 100% ;
}

#mainTitle
{
  width      : 100%                ;
  height     : 30%                 ;
  background : var(--red)          ;
  color      : var(--lit)          ;
  font-size  : calc(var(--u) * 50) ;
}

#mainButtonBox
{
  width  : 100% ;
  height : 40%  ;
}

