
html
{
  width      : 100% ;
  height     : 100% ;
  background : #000 ;
}

body
{
  width            : var(--w)   ;
  height           : var(--h)   ;
  background       : var(--mid) ;
  margin           : 0          ;
  font-family      : sans-serif ;
  cursor           : default    ;
  user-select      : none       ;
  -moz-user-select : none       ;
}

canvas
{
  border-radius : 50%  ;
  background    : #000 ;
}

