
html
{
  width      : 100%;
  height     : 100%;
  background : #000;
}

body
{
  width            : var(--w);
  height           : var(--h);
  background       : var(--mid);
  cursor           : default;
  font-family      : sans;
  margin           : 0;
  user-select      : none;
  -moz-user-select : none;
}

/*....................................................................................................................*/

.center
{
  display         : flex;
  align-items     : center;
  justify-content : center;
}

.start_button
{
  width     : 40%;
  height    : 10%;
  font-size : calc(var(--u) * 30);
}

.button
{
  color         : var(--lit);
  background    : var(--drk);
  margin-bottom : calc(var(--u) * 5);
  border-radius : calc(var(--u) * 10);
  transition    : border-radius 0.5s, background 0.5s;
  cursor        : pointer;
}

.button:hover
{
  border-radius : 0;
  background    : #400;
}

.action_section
{
  width  : calc(100% / 3);
  height : 100%;
}

.action_choice
{
  width         : 100%;
  height        : 15%;
  font-size     : calc(var(--u) * 20);
}

