
html
{
  width      : 100% ;
  height     : 100% ;
  background : #000 ;
}

body
{
  width            : var(--w) ;
  height           : var(--h) ;
  margin           : 0        ;
  font-family      : sans     ;
  cursor           : default  ;
  user-select      : none     ;
  -moz-user-select : none     ;
}

/*....................................................................................................................*/

.center
{
  display         : flex   ;
  align-items     : center ;
  justify-content : center ;
}

.layout
{
  width      : 100%       ;
  height     : 100%       ;
  background : var(--mid) ;
}

